<!DOCTYPE html>
<html>
<head>
    <title>Camera Capture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="camera-box">
            <h2>Camera Stream</h2>
            <img src="{{ url_for('video_feed') }}" width="320">
        </div>
        <div class="camera-box">
            <h2>Captured Image</h2>
            <img src="{{ url_for('captured_feed') }}" width="320">
            <div class="plate-info">
                <p>Biển số: <span id="plate-number">Chờ phát hiện...</span></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>